
.contentlink {
    z-index: 10;
    position: absolute;
    bottom: 4rem;
    display: none;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 960px) {
        display: flex;
    }
    .content_items{
        transition: all 0.3s ease-in-out;
        margin-right: 1.2rem;
        font-size: 0.9rem;
        color: white;
        text-shadow: 0 3px 0 rgb(0 0 0 / 15%);

        @media screen and (min-width: 1100px) {
            font-size: 1.5rem;
            margin-right: 3.5rem;
        }
    }
    .double_items {
        margin-top: 4rem;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 960px) {
            display: none;
        }
    }
}