.HBG_Menu {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        width: 2rem;
        height: 2px;
        margin: 1rem;
        bottom: 0;
        background-color: #2cbcae;
    }

    span::after {
        position: absolute;
        content: '';
        width: 2rem;
        height: 2px;
        transform: translateY(10px);
        background-color: #2cbcae;
    }

    span::before {
        position: absolute;
        content: '';
        width: 2rem;
        height: 2px;
        transform: translateY(-10px);
        background-color: #2cbcae;
    }

    @media screen and (min-width: 986px) {

        display: none;

    }

}