.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-position: center;
    background: transparent url(https://open-data.urbanally.org/assets/images/home/WelcomeHomeScreenTH-9-image2.jpg) 100% 0 no-repeat padding-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}