
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Urbanist , sans-serif ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
    margin-top: 6rem;
    @media screen and (max-width: 960px) {
        margin-top: 5rem;
    }
}

section {
    height: 100vh;
}